.sidebar button {
  padding: 5px 10px;
  font-size: 1rem;
}

.projectNameButton {
  color: rgb(46, 46, 46);
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
  padding: 0 5px !important;
}

.projectNameButton:hover {
  cursor: pointer;
  background-color: #c1bdb0;
  transform: scale(1.05);
}

.sidebar {
  background-color: #dad5c5;
  display: flex;
  flex-direction: column;
  gap: 20px;

  min-height: 100vh;
  height: 100%;

  padding: 15px;
}

.projectsTab .addProjectButton {
  font-size: 1.3rem;
  padding: 0;
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}

.projectsTab {
  display: grid;
  grid-template-columns: 1fr 40px;
}

.projectContainer {
  grid-column: 1/3;
}

#projectRemoveButton {
  opacity: 0;
  border: none;
}

.projectNameButton .projectListTopRow {
  width: 100%;
  /* background-color: red; */
}

#projectList .projectNameButton {
  /* background-color: blue; */
  width: 100%;
}

.projectTabButton {
  width: 100px;
}
